@import 'tailwindcss';

/* Bien */
@layer base {
  :root {
    --color-brand: rgb(235, 97, 164);
    --header-height: 80px;
    --width-page: 1366px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* Lop */
@layer utilities {
  .header {
    height: var(--header-height);
  }
  .color-brand {
    background-color: var(--color-brand);
  }
  .container {
    width: var(--width-page);
    margin: 0 auto;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE và Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
